.sec-install {
    text-align: center;
    margin-top: 40px;
    display: none;
}

.btn-install {
    color: var(--main-withe-color);
    outline: none;
    background-color: var(--main-green-color);
    padding: 10px 14px;
    border: none;
    font-size: 1.4em;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.btn-install:hover {
    transition: 0.2s;
    background-color: var(--main-green-hover-color);
}

.input-install-path {
    margin-top: 20px;
    color: var(--main-withe-color);
    background-color: var(--main-inbox-color);
    outline: none;
    cursor: pointer;
    border: 2px solid #0D1117;
    padding: 9px 10px;
    border-radius: 5px;
    font-size: 1.2em;
    width: 60vw;
}